.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color:orange;

}
.filterContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:red;
  margin-left: 1.5em;
  flex: 1;
}
.categorySpace{
 margin-left: 2em;
}
.navContainer{
  flex: 1;
  display: flex;
  background-image: url('./header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color:white;
  height: 10em;
}
.postContainer{
  display: flex;
  flex:1;
  height: '15rem';
   margin: .3em;
}
.liDecoration{
  list-style-type: none;
}

a :hover{
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}

.link{
  text-decoration: none;
  color: inherit;
}
Link :hover{
  
}